@use 'variables' as var;

.about {
  ul {
    li {
      font: 450 20px/1.2 'Futura PT', sans-serif;
      color: var.$text-color;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      position: relative;
      padding: 0 0 25px 0;
      display: flex;
      flex-direction: column;
  
      @include tablet {
        text-align: left;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font: 450 24px/1.2 'Futura PT', sans-serif;
        padding: 25px 0;
      }
     
       @include desktop {
         font-size: 28px;
       }

       div {
        @include tablet {
          display: inline-block;
        }
       }
  
      &:after {
        content: '';
        position: absolute;
        width: calc(100% + 40px);
        height: 1px;
        left: -20px;
        bottom: 0;
        background: var.$text-gray;

        @include tablet {
          width: 100%;
          left: 0;
        }
      }
  
      span {
        display: block;
        margin: 15px auto;
        font: 700 60px/1.2 'Futura PT', sans-serif;
        text-transform: uppercase;
        color: var.$bg-color;
        background: -webkit-linear-gradient(left, rgba(46, 49, 146, 1), rgba(36, 132, 198, 1));
        -webkit-background-clip: text;
        -webkit-text-stroke: 2px transparent;
  
        @include tablet {
         margin: 0 40px 0 0;
        }
      
        @include desktop {
          font-size: 95px;
        }
      }
    }
  }
}
