@use 'variables' as var;
@import "mixins";

body {
  font-family: 'Futura PT', sans-serif;
  background: var.$bg-color;
  color: var.$text-color;
  box-sizing: border-box;
}

 body :has(#menu-toggle:checked)  {
  overflow: hidden;
}

.telegram-link a{
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: block;
  width: 71px;
  height: 71px;
  background: url(./../images/telegram.svg) no-repeat;
  z-index: 999999;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
  }
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;

  @include tablet {
    max-width: var.$tablet-width;
  }

  @include desktop {
    padding: 40px 0;
    max-width: var.$desktop-width;
  }
}

h2 {
  font: 700 30px/1.2 'Futura PT', sans-serif;
  text-transform: uppercase;
  color: var.$bg-color;
  text-align: center;
  -webkit-text-stroke: 1px var.$text-color;
  -webkit-text-fill-color: var.$bg-color;
  width: 100%;
  margin: 60px auto 40px;

  @include tablet {
    font: 700 50px/1.2 'Futura PT', sans-serif;
    margin: 60px auto 50px;
    text-align: left;
  }

  @include desktop {
    font: 700 90px/1.2 'Futura PT', sans-serif;
    margin: 60px auto 50px;
  }
}

h4 {
  font: 450 18px/1.2 'Futura PT', sans-serif;
  text-transform: uppercase;
  color: var.$text-color;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    font: 450 24px/1.2 'Futura PT', sans-serif;
    text-align: center;
  }

  @include desktop {
    text-align: left;
  }
}

.underline {
  text-decoration: underline;
}

// .cover {
//   position: relative;
//   padding: 0px 30px;
//   margin-top: 100px;
// }



// .scroll-images {
//   position: relative;
//   width: 100%;
//   padding: 40px 0px;
//   height: auto;
//   display: flex;
//   flex-wrap: nowrap;
//   overflow-x: hidden;
//   overflow-y: hidden;
//   scroll-behavior: smooth;
//   -webkit-overflow-scrolling: touch;
// }

// .child {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-width: 700px;
//   height: 200px;
//   padding: 0px 15px;
//   margin: 1px 10px;
//   border: 1px solid #f1f1f1;
//   overflow: hidden;
//   -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
//   box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
// }

// .child img, .child > svg {
//   position: absolute;
//   margin-top: -195px;
//   width: 80px;
//   height: 80px;
//   object-fit: cover;
//   object-position: center;
//   border-radius: 50%;
//   background: #03A9F4;
// }

// .scroll-images::-webkit-scrollbar {
//   width: 5px;
//   height: 8px;
//   background-color: #aaa;
// }

// .scroll-images::-webkit-scrollbar-thumb {
//   background-color: black;
// }

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
