@use 'variables' as var;
@import "mixins";

body {
  font-family: 'Futura PT', sans-serif;
  background: var.$bg-color;
  color: var.$text-color;
  box-sizing: border-box;
}

 body :has(#menu-toggle:checked)  {
  overflow: hidden;
}

.telegram-link a{
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: block;
  width: 71px;
  height: 71px;
  background: url(./../images/telegram.svg) no-repeat;
  z-index: 999999;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
  }
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  @include tablet {
    max-width: var.$tablet-width;
  }

  @include desktop {
    padding: 40px 0;
    max-width: var.$desktop-width;
  }
}

h2 {
  font: 700 30px/1.2 'Futura PT', sans-serif;
  text-transform: uppercase;
  color: var.$bg-color;
  text-align: center;
  -webkit-text-stroke: 1px var.$text-color;
  -webkit-text-fill-color: var.$bg-color;
  width: 100%;
  margin: 40px auto;

  @include tablet {
    font: 700 50px/1.2 'Futura PT', sans-serif;
    margin: 60px auto 50px;
    text-align: left;
  }

  @include desktop {
    font: 700 90px/1.2 'Futura PT', sans-serif;
    margin: 60px auto 50px;
  }
}

h4 {
  font: 450 18px/1.2 'Futura PT', sans-serif;
  text-transform: uppercase;
  color: var.$text-color;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    font: 450 24px/1.2 'Futura PT', sans-serif;
    text-align: center;
  }

  @include desktop {
    text-align: left;
  }
}
