@use 'variables' as var;

$finalHeight: 700px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

.cooperation {
  .horizontal-scroll {
    @include desktop {
      // position: relative;
      // top: 0;
      // height: 0;
      // width: 100%;
      // height: 314px;
      // overflow: hidden;
      position: relative;
      // padding: 0px 30px;
      // margin-top: 100px;
    }

    &:after {
      @include desktop {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
        display: block;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      }
    }
    &:before {
      @include desktop {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 30px;
        display: block;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 100;
      }
    }
  }
  .items {
    @include desktop {
      //scrollbar-width: none;
      // position: absolute;
      // display: block;
      // top: 0;
      // left: 0;
      // width: calc(#{$finalHeight} + #{$scrollBarHeight});
      // max-height: $finalWidth;
      // margin: 0;
      // padding-top: $scrollBarHeight;
      // overflow-y: auto;
      // overflow-x: hidden;
      // transform: rotate(-90deg) translateY(-$finalHeight);
      // transform-origin: right top;
      // padding: calc($finalHeight + 50px) 0 200px 0;
      // scrollbar-width: thin;          /* "auto" or "thin" */
      // scrollbar-color: blue black; 
      position: relative;
      width: 100%;
      padding: 0 50px 0 0;
      height: auto;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: hidden;
      overflow-y: hidden;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }

    .item {
      background: rgba(var.$text-color, 0.05);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: 60px 30px;
      text-align: center;
      font: 400 26px/1.2 'Futura PT', sans-serif;
      margin: 75px 0 0 0;
      border: 1px solid var.$gray;
      box-shadow: inset 0px 4px 60px rgba(31,31,31,2);
      position: relative;
      z-index: 0;

      @include tablet {
        padding: 40px 20px 40px 84px;
        margin: 40px 0 0 20px;
      }

      @include desktop {
        // transform: rotate(90deg);
        // transform-origin: right top;
        // width: $finalHeight;
        // height: $finalHeight;
        min-width: 700px;
        margin: 0 0 0 80px;
        padding: 40px 40px 40px 70px;
      }

      span {
        font: 500 18px/1.2 'Futura PT', sans-serif;
        margin: 0 0 25px 0;
        text-transform: uppercase;

        @include tablet {
          font: 600 24px/1.2 'Futura PT', sans-serif;
          text-align: left;
        }
    
          @include desktop {
            white-space: normal;
            width: 100%;
          }
      }

      .circle {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        border: 1px solid var.$text-color;
        background: var.$bg-gray;
        position: absolute;
        top: -38px;
        left: calc(50% - 38px);
        z-index: 1;

        @include tablet {
          width: 100px;
          height: 100px;
          left: -50px;
          top: 20px;
        }

        span {
          &.number {
            display: block;
            margin: 15px auto;
            font: 700 35px/1.2 'Futura PT', sans-serif;
            text-transform: uppercase;
            color: var.$bg-gray;
            background: -webkit-linear-gradient(left, rgba(46, 49, 146, 1), rgba(36, 132, 198, 1));
            -webkit-background-clip: text;
            -webkit-text-stroke: 2px transparent;
            text-align: center;

            @include tablet {
              font: 700 48px/1.2 'Futura PT', sans-serif;
              margin: 18px auto;
            }
          }
        }
      }

      ul {

        @include desktop {
          white-space: normal;
        }

        li {
          font: 400 18px/1.2 'Futura PT', sans-serif;
          text-align: left;
          position: relative;
          padding: 0 0 0 20px;
          width: 100%;

          @include tablet {
            font: 400 22px/1.2 'Futura PT', sans-serif;
          }

          &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var.$text-color;
            left: 0;
            top: 7px;

            @include tablet {
              top: 10px;
            }
          }
        }
      }
    }
  }

  button {
    @include desktop {
      background: -webkit-linear-gradient(left, rgba(46, 49, 146, 1), rgba(36, 132, 198, 1));
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px transparent;
      color: transparent;
      font-size: 42px;
      position: absolute;
      width: 42px;
      height: 42px;
      text-align: center;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .left {
    display: none;

    @include desktop {
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }
  }
  
  .right {
    display: none;

    @include desktop {
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }
  }
}