@use 'variables' as var;
@import "mixins";

.hero {

  .container {
    position: relative;
  }

  .logo {
    display: inline-block;
    width: 82px;
    height: 61px;

    @include tablet {
      width: 133px;
      height: 98px;
    }

    img {
      width: 100%;
      height: auto;

      @include tablet {
        max-width: max-content;
      }

    }
  }
  h1 {
    font: 700 35px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  
    @include tablet {
      font: 700 47px/1.2 'Futura PT', sans-serif;
      width: 50%;
      margin: 75px 0 25px 0;
      text-align: left;
    }
  
    @include desktop {
      font: 700 73px/1.2 'Futura PT', sans-serif;
    }
  }
  
  h3 {
    font: 450 18px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 auto;
    color: var.$dark-gray;
    width: 100%;
  
    @include tablet {
      font: 450 24px/1.2 'Futura PT', sans-serif;
      text-align: left;
      width: 50%;
    }
  
    @include desktop {
      font: 450 28px/1.2 'Futura PT', sans-serif;
      width: 100%;
    }
  }
  
  &#coach {
    position: relative;

    @include tablet {
      background: url(./../images/blue-bg-tablet.svg) no-repeat 80% 0;
      background-size: auto;
    }
  
    @include desktop {
      background: url(./../images/blue-bg.svg) no-repeat 67% 0;
    }
  
    .photo-container {
      height: auto;
      max-width: 300px;
      position: relative;
      margin: 0 auto;
      padding: 20px 0 0 0;
      top: 20px;
      background: url(./../images/blue-bg-mob.svg) no-repeat 40% 0;
      background-size: auto;

      img {
        display: block;
        height: auto;
      }

      @include tablet {
        max-width: 522px;
        padding: 0;
        position: absolute;
        top: auto;
        bottom: 0;
        right: -10%;
        background: none;

        img {
          width: 522px;
        }
      }
    
      @include desktop {
        height: auto;
        max-width: 740px;
        top: auto;
        bottom: -25px;
        right: 0;
        background: none;
        position: absolute;

        img {
          width: 740px;
        }
      }
    }
  }

  .link {
    font: 450 18px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 40px auto 20px;
    color: var.$text-color;
    text-decoration: none;
    width: 100%;
  
    @include tablet {
      font: 450 24px/1.2 'Futura PT', sans-serif;
      position: absolute;
      margin: 0;
      left: 20px;
      bottom: 50px;
      width: 200px;
      height: 45px;

      &:after {
        content: '';
        display: block;
        width: 91px;
        height: 14px;
        background: url(../images/union.svg) no-repeat;
        top: 25px;
        left: 0;
        position: absolute;
      }
    }
  
    @include desktop {
      font: 450 28px/1.2 'Futura PT', sans-serif;
      left: 0;
      bottom: 150px;

      &:after {
        top: 15px;
        left: auto;
        right: -180px;
      }
    }
  }
  
  .tagline {
    position: absolute;
    visibility: hidden;
  
    @include desktop {
      font: 400 16px/1.2 'Futura PT', sans-serif;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      right: 5%;
      top: 20%;
      visibility: visible;
    }
  }

  .circle-links {
    position: relative;
    left: calc(50% - 60px);
    bottom: 0;

    @include tablet {
      left: 36%;
    }

    @include desktop {
      left: 33%;
      bottom: 60px;
    }
  }
}