@use 'variables' as var;

.lang-buttons {
  width: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var.$bg-color;

  a {
    display: inline-block;
    text-decoration: none;
    font: 400 16px/1.2 'Futura PT', sans-serif;
    color: var.$bg-color;
    padding: 0 5px;

    &:hover {
      transform: scale(1.1);
      transition: all  .5s ease-in-out;
    }

    @include desktop {
      color: var.$text-color;
    }
  }

  span {
    display: inline-block;
    font: 400 16px/16px 'Futura PT', sans-serif;

    &.lang {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url('./../images/lang.svg') no-repeat;
      background-size: cover;
      margin: 0 10px 0 0;
    }

    @include desktop {
      color: var.$text-color;
    }
  }

  &.md {
    width: 33px;
    position: absolute;
    right: 80px;
    top: 21px;
    z-index: 10;

    span.lang {
      margin: 0;
      width: 33px;
      height: 33px;
    }

    @include desktop {
      display: none;
    }
  }
}