@use 'variables' as var;

.registration-2 {
  .hero-photo {
    display: block;
    height: auto;
    width: 218px;
    position: relative;
    margin: 0;
    top: -50px;
    left: 0;
    z-index: 1;

    @include tablet {
      width: 320px;
      top: -200px;
      position: absolute;
    }
  
    @include desktop {
      left: 92px;
    }
  }

  .content {
    background: rgba(var.$text-color, 0.05);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 120px;
    text-align: center;
    font: 400 26px/1.2 'Futura PT', sans-serif;
    margin: 80px 0 0 0;
    position: relative;
    border: 1px solid var.$gray;
    box-shadow: inset 0px 4px 60px rgba(31,31,31,2);
    position: relative;

    @include tablet {
      padding: 130px 20px 100px;
      margin: 200px 0 0 0;
    }

    @include desktop {
      padding: 123px 53px 78px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 94px;
      height: 77px;
      background: url(../images/bg-reg-2.svg) no-repeat;
      background-size: contain;
      z-index: -1;
      top: -20px;
      right: 20px;

      @include tablet {
        top: -50px;
        width: 143px;
        height: 117px;
        left: 50%;
      }

      @include desktop {
        top: -50px;
        width: 143px;
        height: 117px;
        left: 40%;
      }
    }
  }

  h2 {
    font: 500 24px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    color: var.$text-color;
    text-align: center;
    width: 100%;
    margin: -70px auto 20px;
    -webkit-text-stroke: none;
    -webkit-text-fill-color: var.$text-color;
    z-index: 2;
  
    @include tablet {
      font: 500 30px/1.2 'Futura PT', sans-serif;
      margin: 0 0 0 40%;
      text-align: left;
      width: 60%;
    }
  
    @include desktop {
      font: 600 39px/1.2 'Futura PT', sans-serif;
      text-align: left;
      width: 65%;
      margin: 0 0 0 40%;
    }
  }

  h3 {
    font: 450 18px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    color: var.$dark-gray;
    text-align: center;
    width: 100%;
    margin: 20px auto 30px;
  
    @include tablet {
      font: 450 18px/1.2 'Futura PT', sans-serif;
      text-align: left;
      margin: 20px 0;
      width: 40%;
    }
  
    @include desktop {
      font: 450 24px/1.2 'Futura PT', sans-serif;
      text-align: left;
      margin: 0 0 70px;
      width: 50%;
    }
  }

  .reg {
    font: 450 18px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    color: var.$text-color;
    text-align: center;
    width: 100%;

    @include tablet {
      font: 450 18px/1.3 'Futura PT', sans-serif;
      text-align: left;
      margin: 20px 0 0 40%;
      width: 30%;
      position: relative;
      z-index: 2;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 91px;
        height: 14px;
        background: url(./../images/union.svg) no-repeat;
        top: 80px;
        left: 0;
      }
    }

    @include desktop {
      margin: 80px 0 0 40%;
      width: 20%;

      &:after {
        top: 20px;
        left: 220px;
      }
    }

    a {
      text-decoration: none;
      color: var.$blue;
    }
  }

  .circle-links {
    position: absolute;
    bottom: -50px;
    left: calc(50% - 63px);

    @include tablet {
      left: 75%;
    }

    @include desktop {
      bottom: -43px;
    }
  }
}