@use 'variables' as var;

.result {
  h2 {
    margin: 60px auto;

    @include tablet {
      text-align: center;
      margin: 60px auto 30px;
    }

    @include desktop {
      text-align: left;
      margin: 0 auto 18px;
    }  
  }

  .items {
    display: flex;
    flex-direction: column;

    @include tablet {
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include desktop {
      text-align: left;
      margin: 0 auto 18px;
    }  

    div {
      border: 1px solid var.$gray;
      background: rgba(var.$text-color, 0.05);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 90px 20px 100px;
      text-align: center;
      font: 400 26px/1.2 'Futura PT', sans-serif;
      margin: 80px 0 0 0;
      position: relative;
      box-shadow: inset 0px 4px 60px rgba(31,31,31,2);

      @include tablet {
        flex-basis: 47%;
      }

      @include desktop {
        flex-basis: 23%;
      }  
  

      &:before {
        content: '';
        width: 91px;
        height: 91px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      &.item-1 {
        &:before {
          top: -45px;
          background: url(./../images/result_1.svg) no-repeat;
          left: calc(50% - 45px);

          @include tablet {
            left: 40px;
          }
        }
      }

      &.item-2 {
        &:before {
          width: 86px;
          height: 96px;
          top: -48px;
          background: url(./../images/result_2.svg) no-repeat;
          left: calc(50% - 43px);

          @include tablet {
            left: 40px;
          }
        }
      }

      &.item-3 {
        &:before {
          width: 88px;
          height: 102px;
          top: -51px;
          background: url(./../images/result_3.svg) no-repeat;
          left: calc(50% - 44px);

          @include tablet {
            left: 40px;
          }
        }
      }

      &.item-4 {
        &:before {
          width: 94px;
          height: 94px;
          top: -47px;
          background: url(./../images/result_4.svg) no-repeat;
          left: calc(50% - 47px);

          @include tablet {
            left: 40px;
          }
        }
      }

      span {
        color: var.$blue;
        display: block;
      }
    }
  }
}