@use 'variables' as var;

.research {

  a {
    &:hover {
      text-decoration: none;
    }
  }

  h5 {
    font: 400 22px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    color: var.$text-color;
    text-align: center;
    width: 100%;
    margin: 60px auto 40px;
    padding: 0 30px;
    letter-spacing: 1px;

    b {
      font-weight: 700;
    }

    a {
      color: var.$text-color;
    }

    @include tablet {
      font: 400 29px/1.2 'Futura PT', sans-serif;
    }
  
    @include desktop {
      font: 400 40px/1.2 'Futura PT', sans-serif;
      text-align: left;
      width: 90%;
    }
  }

  .container {
    @include desktop {
      background-image: url(./../images/bg-metrix.svg);
      background-position: 20px 80px;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 0 0 140px 0;
      position: relative;
    }
  }

  .wrapper-container {
    background: url(./../images/bg-block.svg);
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      background: url(./../images/bg-metrix-md.svg);
    }

    @include desktop {
      background: none;
    }
  }

  .text {
    font: 400 18px/1.2 'Futura PT', sans-serif;
    text-align: center;
    padding: 60px 25px;
    height: 405px;
    position: relative;

    @include tablet {
      font: 400 24px/1.2 'Futura PT', sans-serif;
      text-align: left;
      width: 80%;
      padding: 30px 25px 60px 65px;
    }
  
    @include desktop {
      font: 400 24px/1.2 'Futura PT', sans-serif;
      text-align: left;
      width: auto;
      padding: 0;
    }

    hr {
      margin: 0 0 40px 0;
      display: block;
    }

    .blue, a {
      color: var.$blue;
    }
    .blue {
      display: block;
      margin: 0 0 20px 0;
    }

    .first-part {
      margin: 0 0 40px 0;
      @include desktop {
        margin: 130px 50px 40px 265px;
        // margin: 0 0 0 220px;
      }

      .first-block {
        @include desktop {
          width: 80%;
          display: inline-block;
        }
      }

      .blue {
        @include desktop {
          width: 33%;
        }
      }
    }

    .second-part {
      @include desktop {
        margin: 50px 50px 40px 265px;
        // margin: 0 0 0 200px;
        position: relative;
      }

      .blue {
        @include desktop {
          width: 49%;
        }
      }
      .rigth-block {
        @include desktop {
          width: 33%;
          display: block;
          margin: 35px 0 0 0;
        }
      }
    }
  }

  .block {
    @include desktop {
      position: absolute;
      right: 225px;
      bottom: -105px;
    }
  }
}