@use 'variables' as var;

.research {

  a {
    &:hover {
      text-decoration: none;
    }
  }

  h5 {
    font: 400 22px/1.2 'Futura PT', sans-serif;
    text-transform: uppercase;
    color: var.$text-color;
    text-align: center;
    width: 100%;
    margin: 50px auto 40px;
    padding: 0 30px;
    letter-spacing: 1px;

    b {
      font-weight: 700;
    }

    a {
      color: var.$text-color;
    }

    @include tablet {
      font: 400 29px/1.2 'Futura PT', sans-serif;
    }
  
    @include desktop {
      font: 400 40px/1.2 'Futura PT', sans-serif;
      text-align: left;
      width: 85%;
    }
  }

  .container {
    @include desktop {
      background-image: url(./../images/bg-metrix.svg);
      background-position: 20px 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .wrapper-container {
    background: url(./../images/bg-block.svg);
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      background: url(./../images/bg-metrix-md.svg);
    }

    @include desktop {
      background: none;
    }
  }

  .text {
    font: 400 18px/1.2 'Futura PT', sans-serif;
    text-align: center;
    padding: 60px 25px;
    height: 405px;
    position: relative;

    @include tablet {
      font: 400 24px/1.2 'Futura PT', sans-serif;
      text-align: left;
      width: 90%;
    }
  
    @include desktop {
      font: 400 26px/1.2 'Futura PT', sans-serif;
      text-align: left;
      padding: 40px 200px;
    }

    hr {
      margin: 0 0 40px 0;
      display: block;
    }

    .blue, a {
      color: var.$blue;
    }
    .blue {
      display: block;
      margin: 0 0 10px 0;
    }
  }

  .underline {
    text-decoration: underline;
  }
}