@use 'variables' as var;

.ticker {
  font: 450 18px/1.2 'Futura PT', sans-serif;
  background: var.$bg-color;
  color: var.$text-gray;
  text-transform: uppercase;
  padding: 15px 0;
  border-top: 1px solid var.$text-gray;
  border-bottom: 1px solid var.$text-gray;
  display: block;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;

  @include tablet {
    font: 450 24px/1.2 'Futura PT', sans-serif;
    padding: 30px 0;
  }

  @include desktop {
    font: 450 43px/1.2 'Futura PT', sans-serif;
  }

  > div {
    display: flex;
    width: 300%;
    -webkit-animation: ticker 10s linear infinite;
    -moz-animation: ticker 10s linear infinite;
    animation: ticker 10s linear infinite;

    @include tablet {
      width: 200%;
    }

    div {
      white-space: nowrap;
      width: 100%;
    }
  }

  @keyframes ticker {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%)
    }
 }
 
  @-webkit-keyframes ticker {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
 
  @-moz-keyframes ticker {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.vertical {
  display: none;
  margin: 15px auto;
  background: var.$bg-color;
  padding: 20px 0;
  border-top: none;
  border-bottom: none;
  width: 15%;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 7%);
  z-index: -1;

  @include tablet {
    font: 450 24px/1.2 'Futura PT', sans-serif;
    padding: 30px 0;
    display: block;
  }

  @include desktop {
    font: 450 43px/1.2 'Futura PT', sans-serif;
    width: 12%;
  }

  > div {
    font: 450 90px/1.2 'Futura PT', sans-serif;
    writing-mode: vertical-rl;
    background: -webkit-linear-gradient(left, rgba(46, 49, 146, 1), rgba(36, 132, 198, 1));
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    color: var.$bg-color;
    display: flex;
    width: 200%;
    letter-spacing: 2px;
    -webkit-animation: ticker-vertical 25s linear infinite;
    -moz-animation: ticker-vertical 25s linear infinite;
    animation: ticker-vertical 25s linear infinite;

    @include tablet {
      width: 100%;
      height: 200%;
    }

    div {
      white-space: nowrap;
      width: 100%;
      height: 100%;
    }
  }

  @keyframes ticker-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%)
    }
 }
 
  @-webkit-keyframes ticker-vertical {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
 
  @-moz-keyframes ticker-vertical {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
