$tablet-width: 767px;
// $desktop-width: 1280px;
$desktop-width: 1200px;

$bg-color: #000;
$text-color: #fff;
$dark-color: #2B2B2B;
$dark-blue: #1E2655;
$text-gray: #ABABAB;
$dark-gray: #8D8C8C;
$gray: #3A3A39;
$bg-gray: #252525;
$blue: #2481C4;



